#loaddata
  each s in ['m','p','s']
    each n in [1,2,3,4,5,6,7,8,9,0]
      img.pai(data-pai=s+n src=`img/${s}${n}.gif` alt)
    br
  each n in [1,2,3,4,5,6,7]
    img.pai(data-pai=`z${n}` src=`img/z${n}.gif` alt)
  img.pai(data-pai="_" src="img/pai.gif" alt)
  br
  audio(data-name="dapai" src="audio/dahai11.wav" volume="0.2")
  audio(data-name="chi"   src="audio/chii.wav"    volume="0.2")
  audio(data-name="peng"  src="audio/pon.wav"     volume="0.2")
  audio(data-name="gang"  src="audio/kan.wav"     volume="0.2")
  audio(data-name="zimo"  src="audio/tsumo.wav"   volume="0.2")
  audio(data-name="rong"  src="audio/ron.wav"     volume="0.2")
  audio(data-name="lizhi" src="audio/richi.wav"   volume="0.2")
  audio(data-name="gong"  src="audio/nc43994.wav" volume="1.0")
  audio(data-name="beep"  src="audio/beep.wav"    volume="0.2")
